body {
    margin: 0;
    font-family: 'PT Sans';
    text-transform: uppercase;
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    
}
html {
    background-color: #f2f2f3;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
h2 {
    font-size: 21px;
}
h1 {
    font-size: 30px;
}