
.page-body {
    height: 100%;
    max-height: 2578px;
    margin: 0;
    font-family: 'PT Sans';
    text-transform: uppercase;
    background-color: #f2f2f3;
    text-transform: uppercase;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    max-width: 1200px;
    padding: 0; 
    margin: 0 auto; 
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2); 
    
}
.main-header,
.container,
.page-footer {
    background-color: white;
}

.logo, .text-welcome, .background {
    position: absolute;
    margin: 0 auto;
}
.background-block {
    width: 1200px;
    height: 150px;
}
.background {
    top: -27px;
    clip:rect( 83px 1200px 600px 0px);
}
.logo {
    left: calc(50% - 69px);
    z-index: 1;
}
.text-welcome {
    left: 0;
    right: 0;
    top: 132.35px;

}
.group {
    position: absolute;
    top: 508px;
    bottom: 0;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.main-header {
    width: 1200px;
    height: 56px;
    background-color: white;
    display: flex;
    justify-content: center;

}
.site-navigation {
    padding: 0;
    margin-left: 1px;
    max-width: 1055px;
    width: 100%;
    margin-top: 0;
    display: flex;
    
}
.site-navigation li {
    margin-top: 15px;
    height: 26px;
    width: 227px;
}
.site-navigation a {
    color: black;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}
.site-navigation li:nth-child(1) {
    text-align: left;

}
.site-navigation li:nth-child(2) {
    text-align: left;

}
.site-navigation li:nth-child(3) {
    
    width: 146px;

}
.site-navigation li:nth-child(4) {
    text-align: right;

}
.site-navigation li:nth-child(5) {
    text-align: right;

}
/*.header-information {
    margin-left: 72px;
}
.header-pictures {
    margin-left: 300px;
}
.header-maps {
    margin-left: 816px;
}
.header-hotels {
    margin-left: 1048px;
} */
.container:not(.background-block) {
    height: auto;
    width: 1200px;
    margin-top: -40px;
    
}
.page-title {
    margin-top: 398px;
    position: relative;
    height: 216px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: black;
    background-color: white;
}
.page-title-h2 {
    margin-top: -15px;
    line-height: 27px;
    width: 470px;
    height: 90px;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;

}
.page-title-p {
    margin-top: 17px;
    width: 519px;
    font-size: 14px;

}

.features1-text, .features2-text{
    background-color: #81B3D2;
    width: 400px;
    height: 256px;
    display: flex;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    color: white;
}
.features1-text p {
    font-size: 14px;
}
.features1-text h2, .features2-text h2 {
    width: 160px;
    margin: 0 auto;
    margin-left: 122px;
    margin-bottom: 24px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}
.features1-text p, .features2-text p {
    width: 302px;
    padding-bottom: 21px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
}
.features1 {
    display: grid;
    grid-template-columns: 400px 800px;
}

.features3 {
    display: grid;
    grid-template-columns: 800px 400px;
}
.features-ul li {
    width: 310px;
    height: 215px;
    display: inline-block;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: red;
}



.search-question {
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.search-date {
    margin-bottom: 47px;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    color: #333333;
}

.form-show {
    display: block;
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.hotel-button {
    display: block;
    width: 568px;
    height: 86px;
}

.search-hotel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 73px;
    padding-top: 50px;
    background-color: #ffffff;
}

input[type="text"] {
    background: #f2f2f2;
    color: #000000;
    text-transform: uppercase;
}

input[type="text"]::-webkit-input-placeholder {
    color: #000000;
}

input[type="text"]:-ms-input-placeholder {
    color: #000000;
}

input[type="text"]::-ms-input-placeholder {
    color: #000000;
}

input[type="text"]::placeholder {
    color: #000000;
}

.form-header {
    padding-top: 13px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
}

.form-title {
    display: inline-block;
    vertical-align: top;
    width: 568px;
    height: 86px;
    background-color: #766357;
}

.form-title:hover {
    background-color: #604e43;
}

.form-title:active {
    background-color: #503e33;
}

.form-header:active {
    color: rgba(255, 255, 255, 0.3);
}

.form {
    position: relative;
    overflow: hidden;
}

.form-search {
    position: absolute;
    top: 0;
    left: 316px;
    width: 512px;
    padding-top: 55px;
    padding-left: 56px;
    font: inherit;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.form-search.is-showed {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.form-search.no-js {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.submit-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

.form-body {
    border: none;
    margin: 0;
    padding: 0;
}

.form-body p {
    border: none;
    margin: 0;
    padding: 0;
}

.form-search-label-from {
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
    margin-top: 6px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.form-search-label-to {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-top: 6px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.form-search-field {
    width: 346px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 0;
    padding-left: 14px;
    margin-bottom: 30px;
    max-height: 38px;
    font-size: 14px;
    line-height: 26px;
    font: inherit;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    border: none
}

.form-search-field:hover {
    font: inherit;
    background-color: #ebebeb;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.form-search-field:focus {
    font: inherit;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.form-search-calendar {
    position: relative;
    top: 6px;
    right: 40px;
    background-color: transparent;
    fill: #cacaca;
    border: none;
}

.form-search-calendar:hover {
    fill: #000000;
}

.form-search-calendar:active {
    font: inherit;
    fill: #81b3d2;
}

.humans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 54px;
    margin-left: -2px;
    width: 458px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.humans .find-item {
    margin: 0;
    width: auto;
}

.find-item .input-number {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 0;
    margin-left: auto;
    max-height: 38px;
    width: 346px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.find-item .input-adults {
    margin-left: 39px;
    padding-left: 23px;
    padding-right: 23px;
    width: 114px;
    text-align: center;
}

.find-item .input-children {
    margin-left: 23px;
    padding-left: 23px;
    padding-right: 23px;
    width: 114px;
    text-align: center;
}

.find-item input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.find-item input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.find-item button {
    width: 38px;
    height: 38px;
    -o-object-fit: contain;
    object-fit: contain;
    background-color: transparent;
    fill: #cacaca;
    border: none;
}

.minus-adult {
    position: absolute;
    top: 191px;
    left: 168px;
}

.plus-adult {
    position: absolute;
    top: 191px;
    left: 242px;
}

.minus-child {
    position: absolute;
    top: 191px;
    left: 400px;
}

.plus-child {
    position: absolute;
    top: 191px;
    left: 475px;
}

.find-item button:hover {
    fill: #000000;
}

.find-item button:active {
    fill: #81b3d2;
}

.search-button {
    padding: 16px 0;
    margin-bottom: 54px;
    width: 458px;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #669ec0;
}

.search-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3)
}

.features4 {
    height: 256px;
    margin-top: -5px;
    background-color: #EEEEEE;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.features-img img{
    width: 100%;
    height: 256px;
}


.page-footer {
    height: 120px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    font-size: 21px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    text-align: center;
    position: relative;
    bottom: 125px;
}

.cite {
    vertical-align: middle;
    display: table-cell;
}
.cite li {
    display: inline-block;
    text-align: center;
}
.tel {
    text-align: center;
}
.htmlAcademy {
    font-style: Regular;
    font-size: 14px;
    vertical-align: middle;
}
/* оформление внутренней страницы */

