.page-body {
    height: 100%;
    margin: 0;
    font-family: 'PT Sans';
    text-transform: uppercase;
    background-color: #f2f2f3;
    text-transform: uppercase;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    max-width: 1200px;
    padding: 0; 
    margin: 0 auto; 
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2); 
    
}
.main-header,
.container,
.page-footer {
    background-color: white;
}

.logo, .text-welcome, .background {
    margin:  auto;
    position: absolute;
}
.background-block {
    width: 1200px;
    height: 150px;
}
.background {
    top: -27px;
    clip:rect( 83px 1200px 600px 0px);
}
.logo {
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
}
.text-welcome {
    left: 0;
    right: 0;
    top: 130px;
}
.group {
    position: absolute;
    
    clip:rect( 0px 1200px 100px 0px);
    top: 505px;
    bottom: 0;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.main-header {
    width: 1200px;
    height: 56px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    position: absolute;
    top: 0; 
    bottom: 0; 
}
.site-navigation {
    margin-top: 0;
    margin-bottom: 0; 
    display: flex;
    align-items: center; 
    justify-content: space-around;
    margin-right: 80px;
}
.site-navigation li {
    height: 26px;
    margin-top: 15px;
}
/*.header-information {
    margin-left: 72px;
}
.header-pictures {
    margin-left: 300px;
}
.header-maps {
    margin-left: 816px;
}
.header-hotels {
    margin-left: 1048px;
} */
.container:not(.background-block) {
    height: auto;
    width: 1200px;
    margin-top: -40px;
    
}
.page-title {
    margin-top: 500px;
    width: 100%;
    height: 216px;

    align-items: center;
    text-align: center;
}
.page-title h2 {
    width: 100%;
    height: 40%;
    background-color: white; 

}


.features1-text, .features2-text{
    background-color: #81B3D2;
    width: 400px;
    height: 256px;
    display: flex;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    color: white;
}
.features1-text p {
    font-size: 14px;
}
.features1-text h2, .features2-text h2 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    
}
.features1 {
    display: grid;
    grid-template-columns: 400px 800px;
}
.features3 {
    display: grid;
    grid-template-columns: 800px 400px;
}
.features-ul li {
    width: 310px;
    height: 225px;
    display: inline-block;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
   
}
.features {
    margin-top: -20px;
}
.features4 {
    height: 256px;
    margin-top: -5px;
    background-color: #EEEEEE;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.features-img img{
    width: 100%;
    height: 256px;
}
.offers {
    text-align: center;
    height: 291px;
    width: 1200px;
    background-color: white;
}
.button {
    color: white;
    display: table-cell;
    vertical-align: middle;
    height: 86px;
    width: 568px;
    background-color: #766357;
}
.page-footer {
    height: 120px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    text-align: center;

}

.cite {
    vertical-align: middle;
    display: table-cell;
}
.cite li {
    display: inline-block;
    text-align: center;
}
.tel {
    text-align: center;
}
.htmlAcademy {
    font-style: Regular;
    font-size: 14px;
    vertical-align: middle;
}
/* оформление внутренней страницы */

.filter  {
    height: 217px;
    width: 100%;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.filter div {
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}
.price {
    float: right;
}
.search {
    display: inline-block;
    height: 36px;
    width: 137px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    
}

.result div {
    border-bottom: #E5E5E5 1px solid;
    padding: 15px;
    
}
.result input {
    width: 110px;
    height: 27px;
    color: white;
}
.result input {
    background-color: #81B3D2;
}
.filter2 {
    height: 100px;
    
    display: flex;
    justify-content: space-around;
    
}
