/*** uncss> filename: http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic ***/
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0aEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh0OqtKA.ttf) format('truetype');
}

/*** uncss> filename: B:/git/1496791-sedona-29/css/style.css ***/

.body2 {
    height: 100%;
    max-height: 933px;
    margin: 0;
    font-family: 'PT Sans';
    text-transform: uppercase;
    background-color: #f2f2f3;
    text-transform: uppercase;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);

}


.logo {
    position: absolute;
    margin: 0 auto;
}
.logo {
    left: calc(50% - 69px);
    z-index: 1;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.main-header {
    width: 1200px;
    height: 56px;
    background-color: white;
    display: flex;
    justify-content: center;

}
.site-navigation {
    padding: 0;
    margin-left: 1px;
    max-width: 1055px;
    width: 100%;
    margin-top: 0;
    display: flex;

}
.site-navigation li {
    margin-top: 15px;
    height: 26px;
    width: 227px;
}
.site-navigation a {
    color: black;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}
.site-navigation li:nth-child(1) {
    text-align: left;

}
.site-navigation li:nth-child(2) {
    text-align: left;

}
.site-navigation li:nth-child(3) {

    width: 146px;

}
.site-navigation li:nth-child(4) {
    text-align: right;

}
.site-navigation li:nth-child(5) {
    text-align: right;

}


.page-footer2 {
    height: 120px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}


.cite2 {
    vertical-align: middle;
    display: table-cell;
    margin-bottom: 1px;
    margin-right: 50px;

}
.cite2 li {
    display: inline-block;
    text-align: center;
}
.tel2 {
    text-align: center;
    font-size: 14px;
    line-height: 15px;

    height: 100px;
    margin-left: 70px;
    margin-bottom: 15px;
    position: relative;
    right: 25px;
}
.tel2 p {
    font-size: 21px;
    position: relative;
    top: 32px;
}
.tel2 h2 {
    position: relative;
    top: 16px;
}
.htmlAcademy2 {
    font-size: 14px;
    vertical-align: middle;

    display: flex;
    align-items: center;
    margin-right: 77px;
    height: 80px;
    width: 200px;
    position: relative;
    left: 18px;
    top: -10px;
}
.htmlAcademy2 img {
    position: relative;
    left: 15px;
}
/* оформление внутренней страницы */



.page-body2 {
    max-height: 933px;
    height: 100%;
    margin: 0;
    font-family: 'PT Sans';
    text-transform: uppercase;
    background-color: #f2f2f3;
    text-transform: uppercase;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    letter-spacing: 0.02px;
}

p,
ul,
h2,
input,
figure {
    margin: 0;
    padding: 0;
}

a:focus {
    outline: none;
}

figure {
    line-height: 0;
}

ul {
    list-style: none;
}

label {
    cursor: pointer;
}

.clearfix::after {
    display: table;
    clear: both;

    content: "";
}

.container2 {
    height: 100%;
    max-height: 933px;
    margin: 0;
    font-family: 'PT Sans';
    text-transform: uppercase;
    background-color: white;
    text-transform: uppercase;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    letter-spacing: 0.02px;
}







.filter-price-title,
.filter-housing-title,
.filter-infrastructure-title {
    color: #ffffff;

    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}


.filter-btn,
.filter-variant,
.filter-price-controll,
.filter-price-boundaries input {
    text-transform: uppercase;

    color: #ffffff;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.options-found,
.result-infoblock-title {
    text-decoration: none;

    color: #000000;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.result-infoblock-title:hover {
    color: #81b3d2;
}

.result-infoblock-title:active {
    color: rgba(0, 0, 0, .3);
}

.options span,
.options-variant {
    text-decoration: none;

    color: #000000;

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.options .options-found {
    text-decoration: none;

    color: #000000;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.options-variant {
    color: rgba(0, 0, 0, .3);
    border-bottom: 1px dotted #81b3d2;
}

.options-active {
    color: #81b3d2;
    border-bottom-color: transparent;
}

.options-variant:hover {
    color: #81b3d2;
}

.options-variant:active {
    color: #000000;
    border-bottom-color: transparent;
}

.result-about-price,
.result-housing-type {
    color: #000000;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.result-booking-btn,
.result-housing-more {
    text-decoration: none;

    color: #ffffff;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.result-booking-btn:active,
.result-housing-more:active {
    color: rgba(255, 255, 255, .3);
}

.result-mark-info {
    color: #666666;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}



.filter {
    padding-top: 29px;

    background: #647e94 no-repeat url(img/background.jpg);
    background-size: 100% auto;
}

.filter-housing,
.filter-infrastructure {
    float: left;

    box-sizing: border-box;
    width: 256px;
    padding-left: 6%;
}

.filter-price {
    float: right;

    box-sizing: border-box;
    width: 33%;
    padding-right: 7%;

    text-align: center;
}

.filter-housing input,
.filter-infrastructure input {
    display: none;
}

.filter-housing-title,
.filter-infrastructure-title {
    margin-bottom: 24px;
}

.filter-variant {
    position: relative;

    display: block;

    margin-bottom: 27px;
    margin-left: 40px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

input + .filter-variant:before {
    position: absolute;
    top: 0;
    left: -40px;

    width: 23px;
    height: 23px;

    content: "";

    background: no-repeat url(img/checkbox-off.svg);
}

input:checked + .filter-variant:before {
    position: absolute;
    top: 0;
    left: -40px;

    width: 27px;
    height: 23px;

    background: no-repeat url(img/checkbox-on.svg);
}

input:checked:disabled + .filter-variant:before {
    background: no-repeat url(img/checkbox-off.svg);
}

input:checked + .filter-variant:before {
    background: no-repeat url(img/checkbox-on.svg);
}

.filter-price-title {
    margin-bottom: 9px;

    text-align: left;
}

.filter-price-boundaries {
    margin-bottom: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
    border: 2px solid #ffffff;
    border-radius: 5px;

    font-size: 0;
}

.filter-price-boundaries input {
    display: inline-block;

    box-sizing: border-box;
    width: 50%;

    text-align: center;
    vertical-align: top;

    border: none;
    background-color: transparent;
}

.filter-price-boundaries input:nth-child(2n+1) {
    border-right: 2px solid #ffffff;
}

.filter-price-boundaries input:focus {
    outline: none;
}

.filter-price-scale {
    position: relative;

    min-height: 20px;
    margin-bottom: 25px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.filter-price-scale:before {
    position: absolute;
    top: 9px;
    right: 10%;
    left: 0;

    height: 2px;

    content: "";

    background-color: rgba(255, 255, 255, .3);
}

.filter-price-scale:after {
    position: absolute;
    top: 9px;
    right: 15%;
    left: 0;

    height: 2px;

    content: "";

    background-color: #ffffff;
}

.filter-scale-toggle {
    position: absolute;
    top: 0;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border-radius: 50%;
    background-color: #ffffff;
}

.filter-scale-toggle:before {
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 8px;

    width: 4px;
    height: 4px;

    content: "";

    border-radius: 50%;
    background-color: #ababab;
}

.filter-scale-toggle:hover:before {
    background-color: #1c4f80;
}

.filter-min-toggle {
    left: 0;
}

.filter-max-toggle {
    right: 15%;
}

.filter-btn {
    width: 136px;
    padding-top: 6px;
    padding-bottom: 6px;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
}

.filter-btn:hover {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .5);
}

.filter-btn:active {
    color: rgba(255, 255, 255, .3);
    border: 2px solid rgba(255, 255, 255, .3);
}

.filter-btn:focus {
    outline: none;
}

.options {
    padding-top: 29px;
    padding-bottom: 30px;

    border: 1px solid #e5e5e5;
}

.options-left-column {
    float: left;

    box-sizing: border-box;
    width: 625px;
    padding-left: 6%;

    font-size: 0;
}

.options-left-column a,
.options-left-column span {
    display: inline-block;

    vertical-align: top;
}

.options-about,
.options-left-column a {
    padding-top: 6px;
}

.options-found {
    margin-right: 49px;
}

.options-about {
    margin-right: 40px;
}

.options-left-column a {
    margin-right: 33px;
}

.options-right-column {
    float: right;

    width: 70px;
    margin-right: 7%;
    padding-top: 12px;

    text-align: right;

    font-size: 0;
}

.options-right-column a {
    display: inline-block;

    width: 11px;
    height: 11px;

    vertical-align: top;
}

.options-down-arrow {
    position: relative;

    margin-left: 12px;
}

.options-up-arrow:before,
.options-down-arrow:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 0;

    content: "";

    border-width: 10px 5px 0;
    border-style: solid;
    border-color: #e5e5e5 transparent transparent;
}

.options-up-arrow {
    position: relative;
}

.options-up-arrow:before {
    border-width: 0 5px 10px;
    border-color: transparent transparent #e5e5e5;
}

.options-up-arrow:hover:before {
    border-color: transparent transparent #000000;
}

.options-down-arrow:hover:before {
    border-color: #000000 transparent transparent;
}

.options-up-arrow:active:before {
    border-color: transparent transparent #81b3d2;
}

.options-down-arrow:active:before {
    border-color: #81b3d2 transparent transparent;
}

.options-up-arrow.options-active:before {
    border-color: transparent transparent #81b3d2;
}

.result-housing {
    padding-top: 27px;
    padding-bottom: 30px;

    border-bottom: 1px solid #e5e5e5;
}

.result-housing-left {
    float: left;

    box-sizing: border-box;
    width: 500px;
    padding-left: 6%;

    font-size: 0;
}

.result-housing-img,
.result-housing-infoblock {
    display: inline-block;

    vertical-align: top;
}

.result-housing-img {
    width: 135px;
    min-height: 90px;
    margin-right: 31px;
    padding-top: 3px;
}

.result-housing-infoblock {
    width: 258px;
}

.result-infoblock-title {
    display: block;

    max-width: 258px;
    margin-bottom: 6px;
}

.result-about-housing {
    float: left;

    width: 110px;
}

.result-about-price,
.result-housing-type {
    margin-bottom: 11px;
}

.result-about-booking {
    float: right;

    width: 142px;
}

.result-housing-ratings {
    float: right;

    box-sizing: border-box;
    width: 190px;
    padding-right: 5%;
}

.result-housing-more {
    display: block;

    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;

    text-align: center;

    background-color: #81b3d2;
}

.result-housing-more:hover {
    background-color: #669ec0;
}

.result-housing-more:active {
    background-color: #5496bd;
}

.result-booking-btn {
    display: block;

    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;

    text-align: center;

    background-color: #766357;
}

.result-booking-btn:hover {
    background-color: #604e43;
}

.result-booking-btn:active {
    background-color: #503e33;
}

.result-ratings-stars {
    width: 114px;
    min-height: 17px;
    margin-bottom: 49px;
}

.result-ratings-good {
    background: 23px -94px no-repeat url(img/sprite.png);
}

.result-ratings-bad {
    background: 71px -94px no-repeat url(img/sprite.png);
}

.result-ratings-excellent {
    background: 0 -94px no-repeat url(img/sprite.png);
}

.result-mark-info {
    width: 110px;
    padding-top: 3px;
    padding-bottom: 4px;

    text-align: center;

    background-color: #f2f2f2;
}
